{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "ضريبة القيمة المضافة" %}
{% endblock title %}

{% block content %}
    <h2 class="text-center mb-4">{% trans "الضريبة المضافة" %}</h2>
    <table class="table table-striped table-bordered table-hover">
        <thead class="bg-white">
            <tr>
                <th>{% trans "اسم الضريبة" %}</th>
                <th>{% trans "نسبة الضريبة" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for tax in taxes %}
                <tr>
                    <td>{{ tax.name }}</td>
                    <td>{{ tax.rate }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'taxapp:add_tax' %}" class="btn btn-secondary">{% trans "رجوع لصفحة الضريبة" %}</a>

{% endblock content %}
