{% extends "base.html" %}
{% load i18n %}
{% load static %} 
{% block title %}
    {{ _("شاشة المخازن") }}
{% endblock title %}

{% block content %}


    <table id="example" class="display datatable" style="width:100%">
        <thead>
            <tr>
                <th class="text-center" style="width: 10%;">{{ _("تسلسل") }}</th>
                <th class="text-center" style="width: 30%;">{{ _("الاسم عربي") }}</th>
                <th class="text-center" style="width: 30%;">{{ _("الاسم الاجنبي") }}</th>
                <th class="text-center" style="width: 30%;">{{ _("تفعيل") }}</th> 
            </tr>
        </thead>
    </table>

        <div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="padding: 20px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ _("إضافة المخازن") }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form method="POST" id="id_form" action="{% url 'store' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        
                     <div class="form-group mt-2 mb-3">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1">{{ _("الاسم عربي") }}</label>  
                                    {{ filed.name_lo }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1">{{ _("الاسم الاجنبي") }}</label>
                                    {{ filed.name_fk }}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1">{{ _("تفعيل") }}</label>
                                    {{ filed.is_stop }}
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="form-group mt-4 mb-3" style="padding: 40px;">
                            <!-- زر الحفظ -->
                            <button type="submit" class="col-md-3 btn btn-dark">{{ _("حفظ") }}</button>
                            
                            <!-- زر الإغلاق -->
                            <button type="button" class="col-md-3 btn btn-secondary" data-dismiss="modal">{{ _("إغلاق") }}</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <hr>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-lg">
            {{ _("إضافة مخزن جديد") }} 
        </button>
{% endblock content %}

{% block scripts %}
<script>
let csrf = '{{ csrf_token }}';
$("#id_form").on("submit", function(e){
    e.preventDefault();
    
    $.ajax({
        method: "post",
        data: $(this).serialize(),
        url: $(this).attr('action'),
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrf);
        },
        success: function(data) {
            if(data.status == "1") {
                alert(data.message);
                $('.datatable').DataTable().ajax.reload();
                $('#modal-lg').modal('hide');
            } else {
                alert(data.message);
            }
        }
    })
})

$(document).ready(function () {
    var oTable = $('.datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'storeJson' %}"
    });
});
</script>
{% endblock scripts %}
