{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load sales_filters %}

{% block title %}
  {% trans "إضافة عميل" %}
{% endblock %}

{% block content %}
<div class="container mt-1">
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        <div class="row mb-3">
            <!-- الاسم المحلي -->
            <div class="col-md-6 mb-3">
                <label for="id_name_lo" class="form-label">الاسم</label>
                {{ form.name_lo|add_class:"form-control" }}
            </div>

            <!-- رقم الضريبة -->
            <div class="col-md-4 mb-3">
                <label for="id_VatNumber" class="form-label">رقم الضريبة</label>
                {{ form.VatNumber|add_class:"form-control" }}
            </div>
        </div>

        <div class="row">
            <!-- الهاتف الثابت -->
            <div class="col-md-3 mb-3">
                <label for="id_Telphone" class="form-label">الهاتف الثابت</label>
                {{ form.Telphone|add_class:"form-control" }}
            </div>

            <!-- الهاتف المحمول -->
            <div class="col-md-3 mb-3">
                <label for="id_phone" class="form-label">الهاتف المحمول</label>
                {{ form.phone|add_class:"form-control" }}
            </div>

            <!-- الرصيد -->
            <div class="col-md-2 mb-3 me-3">
                <label for="id_balance" class="form-label">الرصيد</label>
                {{ form.balance|add_class:"form-control" }}
            </div>
        </div>

        <div class="row">
            <!-- العنوان -->
            <div class="col-md-10 mb-3">
                <label for="id_Address" class="form-label">العنوان</label>
                {{ form.Address|add_class:"form-control" }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">إضافة</button>

        <div class="row">
            <!-- إيقاف الحساب -->
            <div class="col-md-4 mb-3 ms-3">
                <label for="id_is_stop" class="form-label"></label>

                <!-- Custom checkbox style -->
                <label class="checkbox-wrapper">
                    <input type="checkbox" id="id_is_stop" name="is_stop" {% if form.is_stop.value == 'on' %}checked{% endif %}/>
                    <div class="checkmark">
                        <svg viewBox="0 0 30 30" fill="none" stroke="currentColor">
                            <path d="M20 6L9 17L4 12" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <span class="label">إيقاف الحساب</span>
                </label>
            </div>
        </div>
    </form>

</div>

{% endblock %}
