
{% extends 'base.html' %}

{% block content %}
    <h2>قائمة الموردين</h2>
    <table>
        <thead>
            <tr>
                <th>الاسم</th>
                <th>الهاتف</th>
                <th>الرصيد</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.name_lo }}</td>
                    <td>{{ supplier.phone }}</td>
                    <td>{{ supplier.balance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
